@import url('http://fonts.cdnfonts.com/css/serious');

*{  
    font-family: 'serious1', sans-serif;
}

#title {
    text-align: center;
}

#color-palette {
    display:flex;
    justify-content: center;
    
}
#color-palette :nth-child(1){
    border: solid 1px black;
    display: inline-block;
    width: 80px;
    height: 80px;
}
#color-palette :nth-child(1){
    background-color: black;
}
#color-palette :nth-child(2){
    background-color: brown;
}
#color-palette :nth-child(3){
    background-color: rgb(238, 204, 12);
}
#color-palette :nth-child(4){
    background-color: rgb(238, 114, 12);
}

.color, .selected {
    border: solid 1px black;
    display: inline-block;
    width: 80px;
    height: 80px;
    
}

/* .color:first-of-type {
    background-color: black;
}

.color:nth-of-type(2){
    background-color: brown;
}
.color:nth-of-type(3){
    background-color: rgb(238, 204, 12);
}
.color:nth-of-type(4){
    background-color: rgb(238, 114, 12);
} */

#button-random-color {
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
    font-weight: 550;
    box-shadow: 500px;
    width: 95px;
    height: 50px;
    border-radius: 10px;
    margin-left: 70%;
}

#pixel-board {
    display:table;
    margin: 0 auto;
}

.pixel {
    background-color: white;
    display: table-cell;
    width: 40px;
    height: 40px;
    border: solid black 1px;
    
}